<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>404 Not Found</title>
</head>
<body id="error">
    <h1>EL FAMOSO ERROR 404</h1>
    <h2>SIGNIFICA QUE NO SE ENCONTRO EL CONTENIDO QUE BUSCAS</h2>
    <ul>
        <li><a href="/">Ir al Home</a></li>
    </ul>

    <img src="/img/error-404.jpg" alt="error">
</body>
</html>