<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>HOME</title>
</head>
<body>
    <h1>HOME</h1>
    <h2>Los padres de la computación</h2>
    <p>Las computadoras, computadores u ordenadores son las herramientas de cálculo más eficientes jamás inventadas. Tienen el suficiente poder de cálculo, autonomía y velocidad de procesamiento para reemplazarnos en muchas tareas, o permitirnos dinámicas de trabajo que nunca antes en la historia habían sido posibles, al punto tal de hacerse hoy en día indispensables.

        Estos aparatos se inventaron en el siglo XX, revolucionando para siempre la manera en que entendemos los procesos industriales, las comunicaciones, la sociedad y muchas otras áreas de la vida.
        
        Su historia comienza con el primer computador propiamente dicho, cuya autoría no puede adjudicársele estrictamente a ninguna persona en solitario. Desde entonces han cambiado enormemente y nos han cambiado enormemente, por lo que muchos estudiosos consideran su aparición una Segunda Revolución Industrial o incluso una Revolución Digital.</p>
    <ul>
        <li><a href="/babbage"><img src="/img/CharlesBabbage.jpg" alt="Babbage"></a>Babbage</li>
        <li><a href="/berners-lee"><img src="/img/Tim-Berners-Lee-BW-scaled.jpg" alt="Berners-Lee"></a>Berners-Lee</li>
        <li><a href="/clarke"><img src="/img/joanclarke.jpg" alt="Clarke"></a>Clarke</li>
        <li><a href="/hamilton"><img src="/img/Margaret-Hamilton.jpg" alt="Hamilton"></a>Hamilton</li>
        <li><a href="/hopper"><img src="/img/Grace_Hopper.jpg" alt="Hopper"></a>Hopper</li>
        <li><a href="/lovelace"><img src="/img/Ada_Lovelace_portrait_circa_1840.jpg" alt="Lovelace"></a>Lovelace</li>
        <li><a href="/turing"><img src="/img/turing.jpg" alt="Turing"></a>Turing</li>
    </ul>
</body>
</html>